//==============color========================//
$color-white: #ffffff;

$color-background-grey-default: #f6f6f6;
$color-background-grey-hover: #e2e0e0;
$color-background-grey-row: #fafafa;
$color-background-active--success: #e7f6e2;
$color-background-active--error: #f6e3e6;

$color-background-icon-red: rgba(#bf1e2e, 0.5);
$color-background-icon-green: rgba(#32931a, 0.5);
$color-background-icon-blue: #7eb0cc;

$color-button-text: #3296cd;

//===============font=======================//
$font-size-default: 1.4rem;

$font-color-default: #889db8;
$font-color-highlighted: #224a7e;
$font-color-success: #60ab4d;
$font-color-warning: #fcb596;
$font-color-error: #c9505c;
